<header>
    <h1 class="topnav">
        <a href='/'>Home</a>
        <a href="/questions">Questions</a>
        <div class="topnav-centered">
            <h2><%= image_tag("flatiron.png", {:style => "width:20px;"}) %>Flatiron Consulting</h2>
        </div>
        <div class="topnav-right">
            <button class="dropbtn"><%= current_user.email %></button>
            <div class="topnav-right-content">
                <p><%= link_to 'Profile', user_path(current_user) %></p>
                <p><a href="#">My questions</a></p>
                <p><%= link_to 'Sign out', destroy_user_session_path, method: :delete %></p>
            </div>
        </div>
    </h1>    
</header>