
<div class="topnav">
    <a href='/'>Home</a>
    <a href="/questions">Questions</a>
    <div class="topnav-centered">
        <%= image_tag("flatiron.png", {:style => "width:20px;"}) %>Flatiron Consulting
    </div>
    <div class="topnav-right">
        <button class="dropbtn"><%= current_user.email %></button>
        <div class="topnav-right-content">
            <a href="#">Profile</a>
            <a href="#">My questions</a>
            <%= link_to 'Sign out', destroy_user_session_path, method: :delete %>
        </div>
    </div>
</div>    