<header>
    <h1 class="topnav">
            <a href='/'>Home</a>
            <a href="/questions">Questions</a>
            <% if current_user.employee %>
            <a href="/answers">Answers</a>
            <% end %>
            <a href="/consultants">Consultants</a>
            <div class="topnav-centered">
                <h2><%= image_tag("flatiron.png", {:style => "width:28px;"}) %>Flatiron Consulting</h2>
            </div>
            <div class="topnav-right">
                <button class="dropbtn"><%= current_user.email %></button>
                <div class="topnav-right-content">
                    <p><%= link_to 'Profile', user_path(current_user) %></p>
                    <p><%= link_to 'Sign out', destroy_user_session_path, method: :delete %></p>
                </div>
            </div>
    </h1>    
</header>