<div class="topnav">
<a class="active" href='/'>Home</a>
<a href="about.html">About</a>
<a href="contact.html">Contact</a>
    <div class="topnav-centered">
        <%= image_tag("flatiron.png", {:style => "width:20px;"}) %>Flatiron Consulting
    </div>
    <div class="topnav-right">
        <a href="account.html">Account</a>
    </div>
</div>    