
<!DOCTYPE html>

<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>

  
  <body>
    <h1>Your question has been answered, <%= @user.email %></h1>
    <p>
      Please visit our website and login in to view the answer to your question. 
    </p>
    <p>
      To login to the site, just follow this link: .
    </p>
    <p>Have a great day!</p>
  </body>
</html>