<!DOCTYPE html>

<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>

   <body>
    <h1>Your question has been posted, <%= @user.email %></h1>
    <p>
      Please give our consultants some time to answer your question. 
    </p>
    <p>
      Thank you for your patience!
    </p>
    <p>Have a great day!</p>
  </body>
</html>