<%= render 'top/topnav'%>


<div class='start'>
    <div id='users'>
        <% current_user.response_user_i.map(&:email).each do |i| %>
            <% i == (@users.map(&:email).map{|a| a}) %>
                <%= i %>
        <% end %>
    </div>
</div>