<%= render 'top/topnav'%>


<div class='start'>
    <div id='users'>
        
        <% @users.map do |i| %>
            <% i.email %>
            <% current_user.response_email.each do |e| %>
                <% e %>
                <% if i.email == e %>
                    <%= i.email %>
                <% end %>
            <% end %>
        <% end %>
    </div>
</div>