<%= render 'top/topnav' %>


<div class="welcome-wrapper">
    <div class="welcome-text">
        <h1>Welcome</h1>
    </div>
    
    <div class="to-text">
        <h1>To</h1>
    </div>
     
    <div class="Flatiron-text">
        <h1>Flatiron</h1>
    </div>


</div>
