// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

html { 
    background: url("kai-pilger-mgFzfrrmGKI-unsplash.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }


.welcome-wrapper {
    height: 236px;
    width: 236px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url(flatiron.png);
    border: 5px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.welcome-text {
    grid-area: welcome;
}

.to-text {
    grid-area: to;
}

.flatiron-text {
    grid-area: flatiron;
}

.start  {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    top: 18%;
}

#consultants {
    font-size: 25px;
    text-align: center;
}

.consultant-container {
    display: flex;
    height: 650px;
    margin-top: 50px;
}

.consultant-top {
    border: 2px solid;
    border-radius: 8px;
    text-align: center;
    font-size: 20px;
}

.consultant-pic {
    grid-area: photo;
    place-self: center center;
    width: 100%;
    height: auto;
}


img {
    width: 100%;
}

.consultant-bottom {
    text-align: center;
    font-size: 22px;
    
}

#consultant1 {
    width: 20%;
    height: 100%;
    border: 2px solid;
    border-radius: 12px;
    margin-left: 5%;
}

#consultant2 {
    width: 20%;
    height: 100%;
    border: 2px solid;
    border-radius: 12px;
    margin-left: 5%;
}

#consultant3 {
    width: 20%;
    height: 100%;
    border: 2px solid;
    border-radius: 12px;
    margin-left: 5%;
}

#consultant4 {
    width: 20%;
    height: 100%;
    border: 2px solid;
    border-radius: 12px;
    margin-right: 5%;
    margin-left: 5%;
}

