// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.blank {
    padding-top: 100px;
  }


.main {
    margin: 100px auto 0 auto;
    width: 350px;
    height: 470px;
    border-style: solid;
    background-color: white;
}

.text {
    margin-left: 40px;
    margin-top: 13%;

}