// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


#all {

    height:700px;
    display: flex;
    width: 100%;
    margin-top: 7%;
}

#middle {
    display: fixed;
    height: 100%;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    width: 50%;
    border-style: solid;
    margin-left: 25%;
}

#middle-top {
    display: fixed;
    border-style: solid;
    text-align: center;
    font-size: 18px;
}

#list {
    display: flex;
    height: 90%;
}

#list-left {
    width: 35%;
    height: 100%;
}

#profile-pic {
    display: fixed;
    border-style: solid;
    width: 100%;
    height: 100%;
    border-bottom-left-radius: 30px;
}

#pic {
    width: 100%;
}


#profile {
    text-align: right;
    font-size: 15px;
    width: 98%;
    height: 30%;
}

#user-email {
    width: 100%;
    height: 50px;
}

#greeting {
    margin-bottom: 2%;
}

#list-right {
    margin-top: 4%;
    width: 55%;
    height: 100%;
    float: right;
    margin-left: 5%;
}

#name {
    width: 100%;
    height: 125px;
}

#company {
    width: 100%;
    height: 125px;
}

#expertise {
    width: 100%;
    height: 125px;
}

#email {
    width: 100%;
    height: 125px;
}

#middle-bottom {
    
    text-align: right;
    border-style: solid
    border-radius 15px;
    margin-right: 7%;
}