// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


#all {
    margin-top: 60px;
    height:700px;
    display: grid;
    grid-template-columns: 150px 1fr 1fr;
    grid-template-rows: 50px 150px auto auto;
    grid-template-areas: 
        "mid-top mid-top mid-top"
        "pic email prof"
        "none"
        "none"
    
    ;



    width: 800px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: honeydew;
}

#middle {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    // width: 100%;
    // height: 100%;
}

#middle-top {
    grid-area: mid-top;
    display: fixed;
    border-style: solid;
    text-align: center;
    font-size: 18px;
    width: 100%;
}

#list {
    display: flex;
    height: 90%;
}

#list-left {
    width: 35%;
    height: 100%;
}

#profile-pic {
    grid-area: pic;
    border-style: solid;
    width: 100%;
    height: 100%;
    border-bottom-left-radius: 30px;
}

#pic {
    
    grid-area: photo;
    place-self: center center;
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

#pic img {
    
    width: 100%;
    height: 100%;
}


#profile {
    grid-area: prof;
    text-align: right;
    font-size: 15px;
    width: 98%;
    height: 30%;

}

#greeting {

    margin-bottom: 2%;
    width: 100%;
    height: 18%;
}

#user-email {
    width: 100%;
    height: 50px;
}

#list-right {
    margin-top: 4%;
    width: 55%;
    height: 100%;
    float: right;
    margin-left: 5%;
}

#name {
    width: 100%;
    height: 125px;
}

#company {
    width: 100%;
    height: 125px;
}

#expertise {
    width: 100%;
    height: 125px;
}

#email {
    grid-area: email;
    width: 100%;
    height: 125px;
}

#middle-bottom {
    
    text-align: right;
    border-style: solid
    border-radius 15px;
    margin-right: 7%;
}

